/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.card-main-div{
	font-family: century gothic;
	margin:auto;
    height:80%;
    width: 80%;
	background:#FFF;
}

.card-3{
	display:grid;
	grid-template-columns: repeat(2,1fr);
}

.card-3-info{
	margin:auto;
	display:flex;
	align-items: center;
	justify-content: center;
	height:100%;
	width: 125%;
}

.grid-div{
	display:grid;
	grid-template-rows: repeat(2, 1fr);
	width:75%;
	justify-self: flex-end;
}

.grid-div > div{
	margin:auto;
	justify-content: center;
	align-items:center;
	display:flex;
	height:100%;
	width:100%;
}

.grid-div > div:nth-child(1n){
	background: linear-gradient(270deg, rgb(59, 7, 7) 0%, rgba(255,0,0,.8) 100%);
}

.grid-div > div:nth-of-type(2n){
	background: linear-gradient(270deg, rgb(9, 39, 4) 0%, rgba(0,255,0,.5) 100%);
}

.grid-div > div > p{
	color:#FFF;
}

.card-1, .card-2{
	display:flex;
	align-items: center;
}





.progressdiv{
    color:#374ab5;
}

.progress {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  transform: rotate(-90deg) rotateX(180deg);
}

.progress circle {
	stroke-dashoffset: 0;
  	transition: stroke-dashoffset 1s ease;
  	stroke: #374ab5;
  	stroke-width: 15px;
}

.progress .bar {
	stroke: #DDD;
}

.progressdiv {
  position: relative;
}

.progressdiv:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  transform: translate(-50%, -50%);
  content: attr(data-percent) " %";
}